In
LinearRegression
NUM_SENSORS
OLS
Out
R2
R2_results
RMSE
RUL
RandomForest
RandomForestRegressor
Ridge
Ridge_regression
SVR
StandardScaler
SupportVectorRegressor
X_test
X_train
alpha
column
columns
columns_to_normalize
current_cycle
cycles_remaning
dataset_path
digital_twin
engine_id
evaluation
exit
get_ipython
hp_max_depths
hp_n_estimators
i
j
last_cycle
max_depth
mean_squared_error
model_R2
model_RMSE
model_alpha
model_max_depth
model_n_estimators
models
n_estimators
np
open
pd
plt
quit
r2_score
regularization_strengths
results
rmse_results
row_index
rul_df
scaler
sns
test_df
train_df
y_test
y_train
